
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600i,600,700');
@import url('https://fonts.googleapis.com/css?family=Asap:100,300,400,600,700,900');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Asap', arial, sans-serif;
  background-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.maxWidth {
  max-width: 1200px !important;
  margin: 0 auto  !important;
}

iframe, object, embed {
  max-width: 100%;
}